<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="true" [mode]="side" [opened]="false">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list>
          <a mat-list-item routerDirection="'root'" routerLink="">
              <mat-icon class="material-icons icone" aria-label="Side nav toggle icon">home</mat-icon>
              Home</a>
          <a mat-list-item routerDirection="'root'" routerLink="/funcionarios">
              <mat-icon class="material-icons icone" aria-label="Side nav toggle icon">person</mat-icon>
              Funcionários</a>
          <a mat-list-item routerDirection="'root'" routerLink="/clientes">
              <mat-icon class="material-icons icone" aria-label="Side nav toggle icon">supervised_user_circle</mat-icon>
              Clientes</a>
          <a mat-list-item routerDirection="'root'" routerLink="/alocar">
              <mat-icon class="material-icons icone" aria-label="Side nav toggle icon">sort</mat-icon>
              Alocados</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary" class="fix-nav">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon class="menu" aria-label="Side nav toggle icon">menu</mat-icon>
         </button>
          <span class="spacer">Controle de Alocados</span>
        <button mat-icon-button (click)="onLoggedout()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>