.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }
  
  .menu {
    margin-right: 15px;
  }
  
  .icone {
    margin: 0px 5px 5px 5px;
  }

.spacer {
  flex: 1 1 auto;
}